<div class="about-me">

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <section class="item basic" data-aos="fade-up">
          <p>Hi! I'm Wall-e</p>
          <p>Nah, just kidding! My name is Trinh.</p>
          <p>I'm a front-end developer </p>

          <img class="img-circle img-responsive" src="../../assets/trinhlam.png" alt="">

          <br>
          <br>

          <p>I'm from HCMC - Vietnam</p>
          <img src="../../assets/benthanh.png" alt="" class="img-responsive">

        </section>

        <!-- 
        <section class="item" data-aos="flip-down">9</section>
        <section class="item" data-aos="flip-right">10</section>
        <section class="item" data-aos="flip-left">11</section> -->
      </div>
      <div class="col-md-12">
        <section class="item career-objective" data-aos="fade-down">
          <div class="row">
            <div class="col-md-4 col-xs-12">
              <img src="../../assets/goal.png" alt="" class="img-responsive">
            </div>
            <div class="col-md-8 col-xs-12">
              <p>With almost two years of experience working as a Front-end developer I have in-depth knowledge of JavaScript
                language and hands-on experience with AngularJS. As well as being a good researcher, a person who is open
                to challenges and having a can-do attitude I think that nothing is impossible. </p>
            </div>
          </div>
        </section>
      </div>
      <div class="col-md-12">
        <section class="item" data-aos="fade-right">3</section>
      </div>

      <!-- <div class="col-md-12">
        <section class="item" data-aos="anim3">3</section>
      </div> -->

      <!-- <div class="col-md-12">
        <section class="item" data-aos="fade-left">4</section>
      </div> -->
      <div class="col-md-12">
        <section class="item" data-aos="zoom-in">5</section>
      </div>
      <!-- <div class="col-md-12">
        <section class="item" data-aos="zoom-out">6</section>
      </div> -->
      <div class="col-md-12">
        <section class="item" data-aos="slide-up">7</section>
      </div>
      <div class="col-md-12">
        <section class="item" data-aos="flip-up">8</section>
      </div>
    </div>
  </div>
</div>
