@import '~styles/variables';
@import '~styles/mixins';
.about-me {
  nav {
    top: 25%;
    position: fixed;
    i {
      cursor: pointer;
      transition: transform .2s;
    }
    i:hover {
      -ms-transform: scale(1.5);
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
    }
    img {
      width: 30px;
      height: 30px;
    }
    color: $icon-white;
    ul {
      position: relative;
      span {
        font-size: $regular-text-size;
      }
    }
    ul>li {
      font-size: $icon-size-small;
      display: block;
      list-style: none;
      padding-top: 50px;
    }
    .border {
      border-left: 2px solid $white;
      height: 88px;
      position: absolute;
    }
    ul {
      li:nth-child(2).border {
        top: 84px;
        left: 50px;
      }
      li:nth-child(4).border {
        top: 160px;
        left: 51px;
      }
      li:nth-child(6).border {
        top: 267px;
        left: 51px;
      }
      &>li>i:last-child {
        font-size: $small-text-size;
      }
    }
  }
  h1 {
    color: $text-white;
  }
  &>h1 {
    @include center;
  }
  .item {
    // width: 800px;
    height: fit-content;
    margin: 0px auto;
    margin-top: 50px;
    margin-bottom: $margin-space;
    padding: 50px;
    color: $text-white;
    font-size: 2.5em;
  }
  .item:last-child {
    padding-right: 0 !important;
  }
  .no-padding-top {
    padding-top: 0 !important;
  }
  [data-aos='anim3'] {
    transform: rotate(360deg);
    opacity: 0;
    transition-property: transform, opacity;
    &.aos-animate {
      transform: rotate(0);
      opacity: 1;
    }
  }
  section#basic {
    margin-top: 0;
    .img-circle,
    img {
      margin: 0 auto;
      margin-top: $margin-space;
    }
    .img-circle {
      width: 200px;
      height: 200px;
      background: url('../../assets/trinhlam-new.png') no-repeat center;
    }
    &>p:first-child {
      white-space: nowrap;
    }
    &>.col-md-6 {
      padding-top: 44px;
    }
  }
  section.career-objective {
    p {
      font-size: 0.8em;
    }
    img {
      max-height: 200px;
      max-width: 200px;
      margin: 0 auto;
      margin-bottom: $margin-space;
    }
  }
  section.education {
    i {
      @include center;
      font-size: 160px;
      color: $icon-green;
    }
    p {
      text-align: center;
    }
    &>.row>div:last-child {
      margin-top: 75px;
    }
  }
  section#book,
  section#hobbies {
    h1 {
      margin-top: 0;
    }
  }
  section#book {
    .col-md-12 {
      display: flex;
    }
    img {
      padding-top: 10px;
    }
  }
  section#hobbies {
    padding-left: 50px;
  }
  section#hobbies,
  section#book {
    img {
      max-width: 200px;
      max-height: 228px;
      padding-right: 10px;
      margin: 0 auto;
    }
  }
}
