<div class="about-me">

  <div class="container">
    <section class="row item basic" data-aos="fade-up">
      <div class="col-md-3">
        <img class="img-circle img-responsive" src="../../assets/trinhlam.png" alt="Trinh Lam pic">
      </div>
      <div data-aos="zoom-in-up" class="col-md-6">

        <p>Hi! I'm Wall-e</p>
        <p>Nah, just kidding! My name is
          <b>Trinh</b></p>

        <p>I'm a
          <b>front-end developer</b>
        </p>
      </div>
    </section>

    <section id="wherefrom" class="row item">
      <div class="col-md-5 col-md-offset-2 col-sm-12 text-center">
        <p data-aos="flip-left">I'm from HCMC - Vietnam</p>
      </div>
      <div class="col-md-5 col-sm-12">
        <section data-aos="flip-down">
          <img src="../../assets/benthanh.png" class="img-responsive">
        </section>
      </div>
    </section>

    <section class="item career-objective" id="career">
      <div class="row">
        <div class="col-md-4 col-sm-4" data-aos="fade-down">
          <img src="../../assets/goal.png" class="img-responsive">
        </div>
        <div class="col-md-8 col-sm-8 text-right" data-aos="fade-up">
          <p>With almost two years of experience working as a Front-end developer I have good knowledge of JavaScript language
            and hands-on experience with AngularJS. As well as being a good researcher, a person who is open to challenges
            and having a can-do attitude I think that nothing is impossible. </p>
        </div>
      </div>
    </section>
    <section class="item education" data-aos="fade-right">
      <div class="row">

        <div data-aos="flip-up" class="col-md-12">
          <img src="../../assets/education-icon.png" class="img-responsive">
        </div>
        <div data-aos="fade-up-right">
          <p>Bachelor of Science (B.S.), Information Technology</p>
          <p>Saigon University</p>
          <p>2016</p>
        </div>
      </div>
    </section>

    <section class="item experiences">
      <div class="row">
        <div data-aos="flip-up" class="col-md-12">
          <img src="../../assets/working.png" alt="" class="img-responsive">
        </div>
        <div class="clearfix"></div>
        <div data-aos="zoom-in" id="no-tables">
          <table class="col-md-12 table-bordered table-condensed cf">
            <thead class="cf">
              <tr>
                <th>Project Name</th>
                <th>Project Description</th>
                <th>Team Size</th>
                <th>Responsibilities</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let project of experiences">
                <td data-title="Project">{{project.projectName}}</td>
                <td data-title="Description">{{project.projectDescription}}</td>
                <td data-title="Size" class="numeric">{{project.teamsize}}</td>
                <td data-title="Role" class="numeric">{{project.responsibilities}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>

    <section (click)="goNext()" id="scrollNext">

      <a>
        <span></span>
        <span></span>
        <span></span>
      </a>
    </section>


  </div>



</div>
