@import '~styles/variables';
@import '~styles/mixins';
.about-me {
  // background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/wall-e-bubbles.jpg');
  // background-repeat: no-repeat;
  // background-color: #464646;
  // background-position: center;
  // background-size: cover;
  // background-attachment: fixed;
  // height: 100%;
  &>h1 {
    @include center;
    color: $text-white
  }
  .item {
    // width: 800px;
    height: fit-content;
    margin: 0px auto;
    margin-top: 50px;
    margin-bottom: $margin-space;
    padding: 50px;
    color: $text-white;
    font-size: 2.5em;
  }
  [data-aos='anim3'] {
    transform: rotate(360deg);
    opacity: 0;
    transition-property: transform, opacity;
    &.aos-animate {
      transform: rotate(0);
      opacity: 1;
    }
  }
  section#wherefrom {}
  section.basic {
    margin-top: 0;
    .img-circle,
    img {
      margin: 0 auto;
      margin-top: $margin-space;
    }
    .img-circle {
      width: 310px;
    }
    &>p:first-child {
      white-space: nowrap;
    }
    &>.col-md-6 {
      padding-top: 44px;
    }
  }
  section.career-objective {
    p {
      font-size: 0.8em;
    }
    img {
      max-height: 200px;
      max-width: 200px;
      margin: 0 auto;
      margin-bottom: $margin-space;
    }
  }
  section.education {
    img {
      margin: 0 auto;
    }
    p {
      text-align: center;
    }
  }
  section.experiences {
    img {
      max-height: 200px;
      max-width: 200px;
      margin: 0 auto;
    }
    #no-tables {
      margin-top: $margin-space;
    }
    & table {
      background: rgba(247, 244, 244, 0.2);
    }
    & table thead {
      color: $greenery;
    }
    & table thead th {
      text-align: center;
    }
    & table thead,
    tr,
    td {
      font-size: 0.8em;
    }
    & tbody>tr>td:nth-child(3) {
      text-align: center;
    }
    tr>th:nth-child(2) {
      width: 300px;
    }
    ul {
      padding: 0;
    }
    ul>li:first-child {
      padding-left: 0px;
    }
    ul>li {
      list-style-type: none;
      padding-left: 15px;
    }
  }
  /*
  Scroll down
  */
  #scrollNext a {
    cursor: pointer;
    padding-top: 80px;
  }
  #scrollNext a span {
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb07 2s infinite;
    animation: sdb07 2s infinite;
    opacity: 0;
    box-sizing: border-box;
  }
  #scrollNext a span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  #scrollNext a span:nth-of-type(2) {
    bottom: 36px;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
  }
  #scrollNext a span:nth-of-type(3) {
    bottom: 52px;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
  }
  @-webkit-keyframes sdb07 {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes sdb07 {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
