<div class="level-widget">
  <div [ngStyle]="{'background-image': 'url(' + imgUrl + ')'}" class="panel text-right">
    <div class="panel-heading">
      <div class="panel-title">{{widgetName}}</div>
    </div>
    <div class="panel-body">
      <div id="{{id}}">
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
      </div>
    </div>
  </div>
</div>
