@import '~styles/variables';
.level-widget {
  .panel {
    background-color: rgba(188, 226, 126, 0.2);
    border-color: $rain;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    .panel-title {
      font-size: $label-size;
      color: $text-white;
    }
  }
  span {
    font-size: $star-size;
  }
  .yellow-star {
    color: yellow;
  }
}
