/* Buttons */

.btn-greenery {
  background-color: transparent;
  border: 1px solid $greenery;
}

.btn-cadet-blue {
  background-color: $cadet-blue; // border: 1px solid $cadet-blue;
}

.btn:hover {
  border: 1px solid;
  box-shadow: inset 0 0 30px rgba(255, 255, 255, .5), 0 0 30px rgba(255, 255, 255, .2);
  outline-color: $light;
  outline-offset: 15px;
  text-shadow: 1px 1px 2px $light;
  color: #fff;
}
