@media screen and (max-width: 953px) {
  html {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 800px) {
  #no-tables table,
  #no-tables thead,
  #no-tables tbody,
  #no-tables th,
  #no-tables td,
  #no-tables tr {
    display: block;
  }
  #no-tables {
    table.col-md-12 {
      padding: 0;
    }
  }
  #no-tables thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  #no-tables tr {
    border: 1px solid #ccc;
  }
  #no-tables td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 10%; // white-space: nowrap;
    text-align: left;
    padding-top: 20%;
  }
  #no-tables td:before {
    color: $greenery;
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px; // white-space: nowrap;
    text-align: left;
    content: attr(data-title);
  }
}

@media screen and (max-width: 895px) {
  html {
    font-size: 13px !important;
  }
}

@media screen and (max-width: 836px) {
  html {
    font-size: 12px !important;
    .about-me {
      nav {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 778px) {
  html {
    font-size: 11px !important;
  }
}

@media screen and (max-width: 767px) {
  .welcome {
    header {
      .col-xs-12 {
        button {
          width: 100%;
        }
      }
    }
  }
  .content-neon {
    h1 {
      animation: none !important;
      -webkit-animation: none !important;
      -moz-animation: none !important;
    }
  }
  .icon-neon {
    i {
      animation: none !important;
      -webkit-animation: none !important;
      -moz-animation: none !important;
    }
  }
}

@media screen and (max-width: 720px) {
  html {
    font-size: 10px !important;
  }
}

@media screen and (max-width: 504px) {
  html {
    font-size: 9px !important;
  }
  nav {
    &.top-right {
      top: -256px !important;
      right: -253px !important;
    }
    i.fa-bars {
      right: 37px !important;
      top: 35px !important;
    }
  }
  .about-me {
    .container {
      section {
        padding-left: 0 !important;
        padding-right: 0 !important;
        .item {
          margin-top: 0 !important;
        }
      }
      section#basic {
        font-size: 30px !important;
        text-align: center;
        .col-md-3 {
          padding-left: 0 !important;
          padding-right: 0 !important;
          height: 300px !important;
          background: url('../assets/rsz-trinhlam.jpg') no-repeat center;
        }
        .img-circle {
          display: none !important;
        }
      }
      section#wherefrom {
        font-size: 30px !important;
      }
      section.career-objective {
        .text-right {
          text-align: center !important;
          font-size: 22px !important;
        }
      }
      section#scrollNext {
        pointer-events: none;
      }
      section#education {
        font-size: 23px !important;
      }
    }
  }
}
