@media screen and (max-width: 953px) {
  html {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 895px) {
  html {
    font-size: 13px !important;
  }
}

@media screen and (max-width: 836px) {
  html {
    font-size: 12px !important;
  }
}

@media screen and (max-width: 778px) {
  html {
    font-size: 11px !important;
  }
}

@media screen and (max-width: 767px) {
  .welcome {
    header {
      .col-xs-12 {
        button {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 720px) {
  html {
    font-size: 10px !important;
  }
}
