/**********
* Colors 
*/

$greenery: #6fb98f;
$rain: #2c7873;
$cadet-blue: #004445;
$blue-black: #021c1e;
$light: #16a085;
$white: #ecf0f1;
/**********
* Text colors
*/

$text-white: #ecf0f1;
$icon-white: #ecf0f1;
$icon-green: #97b987;
/**********
* background colors
*/

$blur-background: rgba(247, 244, 244, 0.2);
/**********
* Sizes
*/

$h1-header: 4rem;
$margin-space: 30px;
$label-size: 1.3rem;
$regular-text-size: 15px;
$small-text-size: 12px;
$star-size: 19px;
$icon-size-small: 30px;
