@import '~styles/variables';
@import '~styles/mixins';
.skills {
  h1 {
    margin-top: $margin-space;
  }
  section.showed-skills {
    margin-top: $margin-space;
    &>.col-md-3:last-child,
    .col-xs-6:last-child {
      margin-bottom: 20px;
    }
  }
}
