<div class="skills">
  <header class="content-neon">
    <h1 data-aos="fade-right" class="text-center">
      My Skills
    </h1>
  </header>
  <div class="container">
    <section class="showed-skills">
      <div data-aos="zoom-out-right" *ngFor="let skill of skills" class="col-md-3 col-xs-6">
        <trinhlam-portfolio-level-widget widgetName="{{skill.name}}" imgUrl="{{skill.imgUrl}}" level="{{skill.proficiency}}"></trinhlam-portfolio-level-widget>
      </div>
    </section>
  </div>
  <trinhlam-portfolio-scrollnext-widget></trinhlam-portfolio-scrollnext-widget>
</div>
