<div class="skills">
  <div class="container">
    <header class="content-neon">
      <h1 class="text-center">
        My Skills
      </h1>
    </header>
    <section class="showed-skills">
      <div class="col-md-3">
        <trinhlam-portfolio-level-widget></trinhlam-portfolio-level-widget>
      </div>
      <div class="col-md-3">
        <trinhlam-portfolio-level-widget></trinhlam-portfolio-level-widget>
      </div>
      <div class="col-md-3">
        <trinhlam-portfolio-level-widget></trinhlam-portfolio-level-widget>
      </div>
      <div class="col-md-3">
        <trinhlam-portfolio-level-widget></trinhlam-portfolio-level-widget>
      </div>
    </section>
  </div>
</div>
