@import '~styles/variables';
@import '~styles/mixins';
$size: 50px;
$items: 6;
$transition: .5s;
$bounce: cubic-bezier(.3, 1.4, .5, .9);
$cadet-blue: $blue-black;
$background: mix($greenery, $cadet-blue);
$black: shade($cadet-blue, 80%);
$start-scale: .5;
$start-rot: 190deg;
nav {
  a {
    color: $white;
    text-decoration: none;
  }
  z-index: 1000;
  display: block;
  position: fixed;
  width: $size * $items * 2;
  height: $size * $items * 2;
  user-select: none;
  transform: translate3d($size*.5, -$size*.5, 0);
  transition: transform $transition $bounce;
  &.open {
    transform: translate3d(0, 0, 0);
  }
  &.top-right {
    top: -238px;
    right: -238px;
  }
  i {
    position: absolute;
    right: 41px;
    top: 35px;
  }
}

.disc {
  font-size: 30px;
  position: absolute;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  line-height: $size * .8;
  padding-top: $size * .2;
  border-radius: $size * $items;
  transform: scale3d($start-scale, $start-scale, $start-scale) rotate3d(0, 0, 1, $start-rot);
  pointer-events: none;
  opacity: 0;
  cursor: pointer;
  transition: transform $transition $bounce, opacity $transition;
  div {
    transform: rotate(180deg);
  }
  .open & {
    pointer-events: auto;
    opacity: 1;
  }
}

@for $i from 1 through $items {
  .l#{$i} {
    $i: $i - 1;
    $-i: $items - $i;
    $pct: $i/$items * 100%;
    $color: mix($greenery, $cadet-blue, $pct);
    top: $i * $size;
    left: $i * $size;
    right: $i * $size;
    bottom: $i * $size;
    background: $color;
    transition-delay: $i * $transition/$items;
    .open & {
      transition-delay: $i * $transition/$items;
      transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, $start-rot);
      opacity: 1;
      &:hover {
        background: shade($color, 90%);
        color: $greenery;
        transition-delay: 0s;
      }
      &:active {
        background: shade($color, 50%);
        color: $white;
      }
      &.toggle {
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, $start-rot - 180deg);
      }
    }
  }
}

.toggle {
  line-height: $size*2;
  padding: 0;
  width: $size*2;
  background: $greenery;
  opacity: 1;
  transform: none;
  pointer-events: auto;
  transition-delay: 0s;
  .open & {
    transform: rotate3d(0, 0, 1, 0deg);
  }
  &:hover {
    background: shade($greenery, 90%);
    color: $white;
  }
  &:active {
    background: shade($greenery, 50%);
    color: $white;
    transform: scale(.9);
    transition-duration: 0s;
  }
}

.l6 {
  background: transparent;
}

.open {
  .l6 {
    background: $greenery;
  }
}
