@import '~styles/variables';
@import '~styles/mixins';
.welcome {
  /* The image used */
  background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../../assets/landing-walle.jpg');
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #464646;
  header {
    color: $text-white;
    @include center;
    text-align: center;
    .col-sm-6 {
      text-align: right;
    }
    .col-sm-6:last-child {
      text-align: left;
    }
    /*
    * Animation
    */
    @keyframes opacity {
      0%,
      100% {
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
    }
    @keyframes type {
      from {
        width: 0;
      }
    }
  }
}
