@import '../../styles/_variables';
@import '../../styles/_mixins';
@import '../../styles/_responsive';
.welcome {
  header {
    color: $text-white;
    &>h1 {
      font-size: $h1-header;
      font-weight: bold;
      text-transform: uppercase;
      white-space: nowrap;
    }
    &>p {
      font-size: 2em;
    }
    @include center-image;
    text-align: center;
    .content {
      margin-bottom: $margin-space;
      h1 {
        font-size: $h1-header;
      }
      color: $text-white;
      &>.text-container {
        margin: 0 20px;
        &:before {
          content: '[';
          left: 0;
        }
        &:after {
          content: ']';
          position: absolute;
          right: 0;
        }
        &:after,
        &:before {
          position: absolute;
          top: 0;
          color: $rain;
          font-size: 62px;
          line-height: 102px;
          -webkit-animation-name: opacity;
          -webkit-animation-duration: 2s;
          -webkit-animation-iteration-count: infinite;
          animation-name: opacity;
          animation-duration: 2s;
          animation-iteration-count: infinite;
        }
      }
    }
    @keyframes opacity {
      0%,
      100% {
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
    }
  }
}
