<div class="welcome">
  <header>
    <div class="content">
      <div class="text-container">
        <h1>Welcome to Trinh Lam's portfolio :)</h1>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <button (click)="goAboutMe()" class="btn btn-lg btn-greenery">Who I am?</button> &nbsp;
        </div>
        <div class="col-sm-6 col-xs-12">
          <button class="btn btn-lg btn-cadet-blue">What I can do?</button>
        </div>
      </div>
    </div>
  </header>
</div>
